/* -----------Global----------------- */
:root {
  --darkColor: #363f5f;
  --green: #508264;
  --kindPurple: #C0A4B5;
  --whiteBody: #F2EBED;
  --hoverGreen: #45A764;
  --cancelColor: #e92929a6;
  --hoverRed: #e41111;
  --strongGreen: #435947;
  --whiteVariation: #f2f2f2;
  --incomeColor: #276A39;
  --expenseColor: #e92929;
  --modalColor: #f0f2f5;
  --inputColor: #c5c5c5;
  --darkTitle: #e9e8ec;
  --darkModal: #151a22;
  --darkTheme: #0d1117;
  --yellow: #f3f34e;
  --edit: #6C63FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--kindPurple);
  border-radius: 0.2rem;
}

body {
  background: var(--whiteBody);
  font-family: "Poppins", sans-serif;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/* -----------titles----------------- */
h1 {
  font-size: 3rem;
}
.h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--darkColor);
  font-weight: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  border: solid 1px solid;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* -----------Links e Buttons----------------- */

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--hoverGreen);
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

#savebtn {
  width: 100%;
  height: 50px;
  border: none;
  color: var(--whiteBody);
  background: var(--green);
  padding: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

#savebtn:hover {
  background: var(--hoverGreen);
}

.button.cancel {
  line-height: 50px;
  padding: 0;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  color: var(--whiteBody);
  transition: all 0.5s;
  position: relative;
}

.button.cancel span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.button.cancel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;

  background-color: var(--cancelColor);

  border-radius: 0.25rem;
}

.button.cancel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  background-color: var(--cancelColor);

  border-radius: 0.25rem;
}

.button.cancel:hover::before {
  transform: rotate(-45deg);
  background-color: var(--hoverRed);
}

.button.cancel:hover::after {
  transform: rotate(45deg);
  background-color: var(--hoverRed);
}

/* -----------header----------------- */

header {
  background-color: var(--strongGreen);
  padding: 4rem 0 9rem;
  text-align: center;
}

#logo {
  font-weight: 100;
  color: var(--whiteBody);
}

/* -----------balance----------------- */

#balance {
  margin-top: -5rem;
}

#balance h2 {
  color: var(--whiteVariation);
  margin-top: 0;
}

/* -----------cards----------------- */
.card {
  background: white;
  padding: 2rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  color: var(--darkColor);
  justify-content: space-between;
  overflow: auto;
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
  padding: .5rem 0 0 .5rem;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
  padding: 0 0 0 0.5rem;
}

.card.total {
  background-color: var(--green);
  color: white;
}
.redCard {
  background: var(--expenseColor) !important;
  color: white;

}

.imgCard {
  display: flex;
  justify-content: space-between;
}

/* -----------imagens----------------- */
#logoImage {
  width: 7%;
}

td img {
  cursor: pointer;
}

#total-logo {
  color: white;
}

.icone {
    margin: .2rem .5rem 0 0;
}

.divImgCenter {
  display: flex;
  justify-content: center;
}

.centerImage {
  width: 80%;
  padding: 4rem;
}

/* -----------transactions----------------- */

#transactions {
  display: block;
  overflow-x: auto;
}

/* -----------table----------------- */

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--kindPurple);
}

table thead tr th:firt-child,
table thead tr td:firt-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table thead tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table th {
  background: white;
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: left;
  color: var(--darkModal);
}

table tr {
  opacity: 0.6;
}
table tr:hover {
  opacity: 1;
}

table td {
  background: white;
  padding: 1rem 2rem;
}

td.description,
td.date {
  color: var(--darkColor);
}

td.income {
  color: var(--incomeColor);
}

td.expense {
  color: var(--expenseColor);
}

.smallerColumn {
  width: 5%;
}

.fa-pencil-alt {
  color: var(--edit);
  cursor: pointer;
}

/* -----------modal----------------- */
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: var(--modalColor);
  padding: 2.4rem;
  position: relative;
  width: 80%;
  max-width: 500px;
}

/* -----------form----------------- */

#form h2 {
  margin-top: 0;
}

input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
  margin-top: 1rem;
}

#amount {
  margin-bottom: 0.3rem;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.input-group.actions .button,
.input-group.actions #savebtn {
  width: 40%;
}

/* -----------footer----------------- */
footer {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
  padding: 1rem 1rem 0.4rem 1rem;
  color: var(--whiteVariation);
  opacity: 0.6rem;
  background-color: var(--strongGreen);
}

.git {
  margin-right: 0.5rem;
}

/* -----------theme----------------- */
.btnTheme {
  position: absolute;
  right: 2rem;
  top: 3rem;
  cursor: pointer;
}

input {
  background-color: var(--inputColor);
}

.darkTitle {
  color: #858181;
}

.dark-modal {
  background-color: var(--darkModal);
  color: var(--kindPurple);
  border: 1px solid #858181;

}

.dark-theme {
  background-color: var(--darkTheme);
}

.dark-header,
.dark-footer {
  background-color: var(--darkModal);
}
.yellowSun {
  color: var(--yellow);
}
.whiteMoon {
  color: var(--whiteVariation);
}

/* -----------media query----------------- */

@media (max-width: 650px) {
  .centerImage {
    width: 100%;
    padding: 2rem;
  }

  .btnTheme {
    position: absolute;
    right: 2rem;
    top: 1rem;
  }

  footer {
    font-size: 50%;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
    /*14px*/
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}