/* -----------Global----------------- */
:root {
  --dark-color: #363f5f;
  --green: #49aa26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
  background-color: #8d4eff;
  border-radius: 0.2rem;
}

body {
  background: #f0f2f5;
  font-family: "Poppins", sans-serif;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

/* -----------titles----------------- */
h1 {
  font-size: 3rem;
}
.h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-color);
  font-weight: normal;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  border: solid 1px solid;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* -----------Links e Buttons----------------- */

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: #3dd705;
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

#savebtn {
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  background: var(--green);
  padding: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}

#savebtn:hover {
  background: #3dd705;
}

.button.cancel {
  line-height: 50px;
  padding: 0;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s;
  position: relative;
}

.button.cancel span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.button.cancel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;

  background-color: #e92929a6;
  
  border-radius: 0.25rem;
}

.button.cancel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  background-color: #e92929a6;

  border-radius: 0.25rem;
}

.button.cancel:hover::before {
  transform: rotate(-45deg);
  background-color: #e41111;
}

.button.cancel:hover::after {
  transform: rotate(45deg);
  background-color: #e41111;
}

/* -----------header----------------- */

header {
  background-color: #2d4a22;
  padding: 4rem 0 9rem;
  text-align: center;
}

#logo {
  font-weight: 100;
  color: #fff;
}

/* -----------balance----------------- */

#balance {
  margin-top: -4rem;
}

#balance h2 {
  color: #f2f2f2;
  margin-top: 0;
}

/* -----------cards----------------- */
.card {
  background: white;
  padding: 1.5rem 2 rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--dark-color);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
  padding: 0 0 0 0.5rem;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
  padding: 0 0 0 0.5rem;
}

.card.total {
  background-color: #49aa26;
  color: #fff;
}

/* -----------imagens----------------- */
#logoImage {
  width: 7%;
}

td img {
  cursor: pointer;
}

#total-logo {
  color: #fff;
}

.icone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.divImgCenter {
  display: flex;
  justify-content: center;
}

.centerImage {
  width: 80%;
  padding: 4rem;
}

/* -----------transactions----------------- */

#transactions {
  display: block;
  overflow-x: auto;
}

/* -----------table----------------- */

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #8d4eff;
}

table thead tr th:firt-child,
table thead tr td:firt-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table thead tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table th {
  background: #fff;
  font-weight: 600;
  padding: 1rem 2rem;
  text-align: left;
}

table tr {
  opacity: 0.5;
}
table tr:hover {
  opacity: 1;
}

table td {
  background: #fff;
  padding: 1rem 2rem;
}

td.description,
td.date {
  color: var(--dark-color);
}

td.income {
  color: #12a454;
}

td.expense {
  color: #e92929;
}

/* -----------modal----------------- */
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal {
  background: #f0f2f5;
  padding: 2.4rem;
  position: relative;
  width: 80%;
  max-width: 500px;
}

/* -----------form----------------- */

#form h2 {
  margin-top: 0;
}

input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
  margin-top: 1rem;
}

#amount {
  margin-bottom: 0.3rem;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.input-group.actions .button,
.input-group.actions #savebtn {
  width: 40%;
}

/* -----------footer----------------- */
footer {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
  padding: 1rem 1rem .4rem 1rem;
  color: rgb(236, 232, 232);
  opacity: 0.6rem;
  background-color: #2d4a22;

}

.git {
  margin-right: .5rem;
}


/* -----------theme----------------- */

.btnTheme {
  position: absolute;
  right: 2rem;
  top: 3rem;
  cursor: pointer;
}

input {
  background-color: #c5c5c5;
}

.darkTitle {
  color: #e9e8ec;
}

.darkmodal {
  background-color: #06090F;
  color: #b189fb;
}

.dark-theme {
  background-color:   #0D1117;
}

.dark-header,
.darkfooter {
  background-color: #06090f;
}
.yellowSun {
  color: rgb(243, 243, 78);
}
.whiteMoon {
  color: #e6e6d7;
}

@media (max-width: 650px) {
  .centerImage {
    width: 100%;
    padding: 2rem;
  }

  .btnTheme {
    position: absolute;
    right: 2rem;
    top: 1rem;
  }

  footer {
    font-size: 50%;
  }
}
